.App {
  text-align: center;
  font-family: "karla";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 68%;
  align-items: center;
  margin: 0 auto;
  height: 90px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.footerNav,
.socialMediaLinks {
  padding: 0;
  text-align: left;
}

.navLogo {
  width: 148px;
  height:40px;
  border-radius:5px;
  margin-top: 5px;
}

.Logo {
  align-self: center;
}

.navbarItem {
  list-style: none;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0 20px;
}

.footerNavItem,
.socialLink {
  list-style: none;
  text-decoration: none;
  margin: 0 20px;
  margin-left: 0;
  margin-bottom: 20px;
  cursor: pointer;
  text-transform: capitalize;
}

.footerNavItem:hover,
.socialLink:hover {
  text-decoration:  #F4CE14 underline 2px;
}

.navbarItem a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.footerNavItem a,
.socialLink a{
  text-decoration: none;
  color: #000;
  text-align: left;
}